body {
	background-color: #eee;
}
.form-group {
	margin: 200px 0px 0px 0px;
}
.container input[id="username1"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.container input[id="password1"] {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
button {
	margin: 15px 0px 0px 0px;
}